# Node.js
node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# VS Code
*.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# Environment variables
*.env
!.env.example

# Logs
*.log
### ENV ###
*.env